*.iml
*.patch
.classpath
.DS_Store
.idea
.metadata
.project
.settings
RemoteSystemsTempFiles
nbproject

**/target
**/C:

**/hs*.log
**/replay*.log

**/.classpath
**/.project
**/.settings
**/bin
**/dependency-reduced-pom.xml
**/nbactions.xml
